NEXTAUTH_URL=http://localhost:3000/

MON_COMPTE_PRO_OIDC_CLIENT_ID=xx
MON_COMPTE_PRO_OIDC_CLIENT_SECRET=xx
MON_COMPTE_PRO_OIDC_SCOPES="openid given_name usual_name email phone uid siren siret idp_id idp_acr"

NEXTAUTH_SECRET="monsupersecret"

MON_COMPTE_PRO_PROVIDER_URL=https://fca.integ01.dev-agentconnect.fr/api/v2
